body {
  height: 97vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/lfz-background.jpg');
  background-size: cover;
}
#header-container {
  justify-content: center;
}
.header-container {
  height: 10%;
}
.game-area-container {
  height: 90%;
}
aside,
main {
  display: flex;
  height: 100%;
}
.stats-container {
  flex-flow: column;
  justify-content: space-between;
  font-weight: 800;
}
.stats-container > div {
  height: 10%;
  background-color: #87ceeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  height: 28%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.card-front,
.card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.card-back {
  background-image: url(../images/lfz-card.jpg);
}
.css-logo {
  background-image: url(../images/css-logo.png);
}
.docker-logo {
  background-image: url(../images/docker-logo.jpg);
}
.gitHub-logo {
  background-image: url(../images/gitHub-logo.png);
}
.html-logo {
  background-image: url(../images/html-logo.png);
}
.js-logo {
  background-image: url(../images/js-logo.png);
}
.mysql-logo {
  background-image: url(../images/mysql-logo.jpg);
}
.node-logo {
  background-image: url(../images/node-logo.png);
}
.php-logo {
  background-image: url(../images/php-logo.jpeg);
}
.react-logo {
  background-image: url(../images/react-logo.png);
}
.hidden {
  display: none;
}
.modal {
  position: fixed;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  background-color: dodgerblue;
  text-align: center;
}
